:root {
  /**
  * colors
  */
  --white: #fff;
  --white-f8: #F1F5F8;
  --aqua: #3A9EAA;

  /**
  * typography
  */
  --mont-ff: 'Montserrat', sans-serif;
  --poppins-ff: 'Poppins', sans-serif;

  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-38: 38px;
  --fs-42: 42px;
  --fs-45: 45px;
  --fs-48: 48px;

  --lh-15: 15px;
  --lh-17: 17px;
  --lh-19: 19px;
  --lh-20: 20px;
  --lh-22: 22px;
  --lh-24: 24px;
  --lh-25: 25px;
  --lh-27: 27px;
  --lh-30: 30px;
  --lh-32: 32px;
  --lh-35: 35px;
  --lh-45: 45px;
  --lh-48: 48px;
  --lh-50: 50px;
  --lh-55: 55px;
  --lh-62: 62px;
  --lh-72: 72px;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /**
  * transition
  */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  /**
  * border-radius
  */
  --br-8: 8px;

}

/**
* RESET
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { 
  width: 100%;
  outline: none;
}

button { cursor: pointer; }

ion-icon {
  pointer-events: none;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;

}

body {
  background: var(--white-f8);

}


/**
* REUSED
*/
::placeholder {
  color: #484848;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

input[type="checkbox"]:after {
  content: " ";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background: #56326E;
  top: 2px;
  left: 2px;
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.container-lower {
  width: 1114px;
  margin: 0 auto;
}

.container-outer {
  width: 1397px;
  margin: 0 auto;
}

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #CCCCCC;
  border: none;


}

.btn-primary {
  border: none;
  background: #56326E;
  border-radius: 90px;
  font-family: var(--poppins-ff);
  color: #fff;
}

.btn-secondary {
  border: 1px solid #56326E;
  border-radius: 90px;
  font-family: var(--poppins-ff);
  background: transparent;
  color:#272727;
}

.black {
  color: #000;
}

.purple {
  color: #56326E;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 20px;
  height: fit-content;
  border: 1px solid var(--white-f8);
  border-radius: 6px;
  padding: 6px;
}

.mobile-menu .mobile-line {
  width: 18px;
  background: var(--white-f8);
  height: 1px;
  margin-bottom: 5px;
}

.mobile-menu .mobile-line:last-child {
  margin-bottom: 0;
}

.fw-700-48-72 {
  font-weight: var(--fw-700);
  font-size: var(--fs-48);
  line-height: var(--lh-72);
}

.fw-700-45-55 {
  font-weight: var(--fw-700);
  font-size: var(--fs-45);
  line-height: var(--lh-55);
}

.fw-700-36-50 {
  font-weight: var(--fw-700);
  font-size: var(--fs-36);
  line-height: var(--lh-50);
}

.fw-700-26-35 {
  font-size: var(--fs-26);
  line-height: var(--lh-35);
  font-weight: var(--fw-700);
}

.fw-700-16-20 {
  font-size: var(--fs-16);
  line-height: var(--lh-20);
  font-weight: var(--fw-700);
}

.fw-600-22-27 {
  font-size: var(--fs-22);
  line-height: var(--lh-27);
  font-weight: var(--fw-600);
}

.fw-600-18-22 {
  font-weight: var(--fw-600);
  font-size: var(--fs-18);
  line-height: var(--lh-22);
}

.fw-600-16-19 {
  font-weight: var(--fw-600);
  font-size: var(--fs-16);
  line-height: var(--lh-19);
}

.fw-600-14-17 {
  font-weight: var(--fw-600);
  font-size: var(--fs-14);
  line-height: var(--lh-17);
}

/**
* fw: 400
*/

.fw-400-24-36 {
  font-weight: var(--fw-400);
  font-size: var(--fs-24);
  line-height: var(--lh-36);
}

.fw-400-18-30 {
  font-weight: var(--fw-400);
  font-size: var(--fs-18);
  line-height: var(--lh-30);
}

.fw-400-18-22 {
  font-weight: var(--fw-400);
  font-size: var(--fs-18);
  line-height: var(--lh-22);
}

.fw-400-16-19 {
  font-weight: var(--fw-400);
  font-size: var(--fs-16);
  line-height: var(--lh-19);
}

.fw-400-15-25 {
  font-weight: var(--fw-400);
  font-size: var(--fs-15);
  line-height: var(--lh-25);
}

.fw-400-14-17 {
  font-weight: var(--fw-400);
  font-size: var(--fs-14);
  line-height: var(--lh-17);
}

/**
* HEADER
*/
.header {
  width: 100%;
  height: 50px;
  background-color: var(--aqua);
  font-family: var(--mont-ff);
  font-weight: var(--fw-300);
  color: var(--white-f8);
  top: 0;
  left: 0;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.navbar li {
  margin-right: 26px;
}

.navbar li:last-child {
  margin-right: 56px;
  padding-right: 65px;
  border-right: 1px solid var(--white-f8);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-item-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  display: flex;
}

.login-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.auth-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-label-wrapper p {
  border-right: 1px solid var(--white-f8);
  padding-right: 6px;
  margin-right: 6px;
}

.header-bottom__inner {
  font-family: var(--mont-ff);
  padding: 18px 0;
  display: flex;
  justify-content: space-evenly;
}

.header-contact-group {
  display: flex;
  margin-right: 93px;
}

.search-wrapper {
  width: 342px;
  height: 40px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 90px;
  padding: 10px 12px 10px 19px;
  display: flex;
  justify-content: space-between;
  margin-right: 31px;
}

.search-input {
  color: #000;
  font-family: var(--mont-ff);
  font-size: var(--fs-16);
  line-height: var(--lh-19);
}

.contact-info-wrapper {
  display: flex;
}

.header-phone-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #56326E;
}

.contact-info__left {
  margin-right: 6px;
}

.contact-info__right {
  display: flex;
  flex-direction: column;
}

.header-tel-wrapper {
  display: flex;
  margin-bottom: 3px;
}

.header-tel {
  font-size: var(--fs-16);
  line-height: var(--lh-19);
  margin-right: 10px;
}

.order-callback a {
  text-decoration: underline;
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  line-height: var(--lh-17);
}

.header-media-icons-wrapper {
  display: flex;
}

.header-media-icons-wrapper .header-whatsapp {
  margin-right: 19px;
}

.hero {
  width: 100%;
  height: 610px;
  background-image: url('../images/hero.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.promotion-wrapper {
  overflow: hidden;
}

.promotion__outer {
  padding-block-start: 89px;
  padding-block-end: 90px;
}


.promotion-title {
  font-family: var(--poppins-ff);
  color: #272727;
  margin-bottom: 30px;
}

.promotion-goods__title {
  font-family: var(--poppins-ff);
  color:#272727;
  margin-bottom: 30px;
}



.promotion-goods__desc {
  font-family: var(--poppins-ff);
  color: #272727;
  margin-bottom: 30px;
}


.promotion-main-wrapper {
  display: flex;
}

.promotion-prices-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.promotion-price-main {
  font-family: var(--poppins-ff);
  color: #3A9EAA;
  margin-right: 4px;
}



.promotion-price-discount {
  font-family: var(--poppins-ff);
  color: #56326E;
}

.promotion-btn-group-wrapper {
  display: flex;
}

.promotion-btn-group-wrapper .btn-primary {
  padding: 15px 50px;
  margin-right: 30px;
}

.promotion-btn-group-wrapper .btn-secondary {
  padding: 15px 40px;
}

.promotion-goods-slick.slick-slider {
  width: 490px;
}

.promotion-goods-slick.slick-slider .slick-track {
  display: flex;
  position: relative;
}

.promotion-goods-slick.slick-slider .slick-list {
  overflow: hidden;
}

.slick-arrow-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #3A9EAA;
  cursor: pointer;
  position: absolute;
  bottom: -90px;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  left: 250px;
}


.promotion-goods-slick.slick-slider .slick-arrow-wrapper.slick-disabled  {
  background: transparent;
  color: #A8A8A8;
}

.promotion-goods-slick.slick-slider .slick-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.promotion-goods-slick.slick-slider .slick-dots {
  position: absolute;
  bottom: -85px;
  left: 108px;
}

.promotion-goods-slick.slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #3A9EAA;
}

.promotion-goods-slick.slick-slider .slick-dots li.slick-active button {
  background: #3A9EAA;
}

.bottom-banner {
  width: 100%;
  background-color: rgba(86, 50, 110, 0.5);
  background-image: url('../images/travma.svg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom-banner__outer {
  padding-block-start: 94px;
  padding-block-end: 113px;
}

.bottom-banner__title {
  font-family: var(--poppins-ff);
  color: #fff;
  margin-bottom: 20px;
}

.bottom-banner__subtitle {
  font-family: var(--poppins-ff);
  color: #fff;
}

footer {
  background: var(--white-f8);
  height: 543px;
  position: relative;
}

.footer__outer {
  padding-top: 122px;
  height: 100%;
  position: relative;
}

.footer__inner {
  display: flex;
}

.footer__logo-wrapper {
  margin-right: 170px;
}

.footer__navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-navbar-item__title {
  font-family: var(--mont-ff);
  color: #000;
  margin-bottom: 30px;
}

.footer-navbar__item {
  font-family: var(--mont-ff);
  color: #000;
  margin-right: 85px;
  margin-bottom: 40px;
}

.footer-contacts-wrapper {
  width: 250px;
}

.footer-navbar__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.footer-navbar-item__menu li {
  margin-bottom: 22px;
}

.footer-navbar-item__menu li:last-child {
  margin-bottom: 0;
}

.footer-contacts-tel-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #56326E;
  margin-right: 6px;
}

.footer-num-wrapper {
  margin-right: 10px;
}

.footer-contacts-num-wrapper {
  display: flex;
  margin-bottom: 3px;
}

.footer-contacts-email-wrapper {
  display: flex;
}

.email-wrapper {
  color: #000;
}

.footer-copy-wrapper {
  width: 100%;
  font-family: var(--mont-ff);
  color: #000;
  opacity: 0.5;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 17px;
  padding-bottom: 17px;
  position: absolute;
  bottom: 0;
}

.go-top-wrapper {
  height: 133px;
  width: 65px;
  border-radius: 30px 30px 0 0;
  background: #56326E;
  position: absolute;
  bottom: 0;
  right: -110px;
  cursor: pointer;
}

.go-top-arrow-wrapper {
  position: absolute;
  top: 20px;
  left: 24px;
}


/**
* CATALOGUE
*/
.catalogue-categories-title-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 12px;
  justify-content: center;
  margin-bottom: 46px;
}

.catalogue-categories-title-item {
  background: transparent;
  border: 1px solid #3A9EAA;
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: var(--mont-ff);
  color: #000;
  text-align: center;
}

.catalogue-breadcrumb-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 8px;
}

.catalogue-breadcrumb-item {
  font-family: var(--mont-ff);
  color: rgba(0, 0, 0, 0.5);
}

.catalogue-breadcrumb-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #56326E;
}

.catalogue-section__title {
  font-family: var(--mont-ff);
  color: #000;
  margin-bottom: 37px;
}

.catalogue-wrapper {
  display: flex;
  position: relative;
  justify-content: right;
}

.catalogue-sidebar {
  width: 255px;
  background: #F1F5F8;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.catalogue-sidebar__title {
  font-family: var(--mont-ff);
  color: rgba(0, 0, 0, 0.5);
}

.catalogue-sidebar-arrow {
  color: rgba(0, 0, 0, 0.5);
}

.catalogue-sidebar__item-inner {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.catalogue-sidebar__item-inner:hover {
  border-bottom: 1px solid #56326E;
}

.catalogue-sidebar__item-inner:hover .catalogue-sidebar__title {
  color: #56326E;
}

.catalogue-sidebar__item-inner:hover .catalogue-sidebar-arrow {
  color: #56326E;
}

.catalogue-sidebar__item-inner:last-child {
  border-bottom: none;
}

.catalogue-sidebar__dropdown {
  height: 0;
  overflow: hidden;
  background: #fff;
  transition: 0.25s ease;
}

.catalogue-sidebar__item.active .catalogue-sidebar__dropdown {
  height: fit-content;
}

.catalogue-sidebar-dropdown__item {
  padding: 14px 24px;
  transition: 0.25s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
  cursor: pointer;
}

.catalogue-sidebar-dropdown__item:hover {
  border-bottom: 1px solid #56326E;
}

.catalogue-sidebar-dropdown__item:hover .catalogue-sidebar-dropdown-label {
  color: #56326E;
}

.catalogue-sidebar-dropdown-label {
  font-family: var(--mont-ff);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.catalogue-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 27px;
}

.catalogue-grid__item {
  width: 254px;
  height: 164px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}


.catalogue-item-title {
  width: 100%;
  padding: 18px 0;
  background:#B8E6EC;
  font-family: var(--mont-ff);
  color: #000;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
}


/**
* ОРТОПЕДИЧЕСКАЯ ОБУВЬ
*/
.catalogue-filter-row {
  width: 100%;
  font-family: var(--mont-ff);
  display: flex;
  justify-content: space-between;
}

.catalogue-section__catalogue-filter-row {
  margin-bottom: 10px;
}

.total-found-label {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.sort-filter {
  width: 260px;
  background: transparent;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
  color: #484848;
  display: flex;
}

.total-found-sidebar__chevron-down-icon-wrapper {
  padding-left: 12px;
  border-left:  1px solid rgba(0, 0, 0, 0.2);
}

.total-found-sidebar__chevron-down-icon {
  font-size: var(--fs-16);
}

.catalogue {
  display: flex;
}

.total-found-sidebar {
  width: 255px;
  font-family: var(--mont-ff);
  color: rgba(0, 0, 0, 0.5);
  background: #F1F5F8;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  padding: 23px 28px;


}

.catalogue-sidebar-item {
  display: flex;
  justify-content: space-between;
}

.total-found-sidebar__catalogue-sidebar-item {
  margin-bottom: 20px;
}

.total-found-sidebar__catalogue-sidebar-item:last-child {
  margin-bottom: 0;
}

.catalogue-sidebar-item__title,
.catalogue-sidebar-item__total {
  font-weight: var(--fw-400);
  font-size: var(--fs-16);
  line-height: var(--lh-19);
}

.total-found-sidebar__catalogue-sidebar-item.active .catalogue-sidebar-item__title,
.total-found-sidebar__catalogue-sidebar-item.active .catalogue-sidebar-item__total {
  color: #56326E;
  font-weight: var(--fw-700);
}

.catalogue__left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.filter-sidebar {
  width: 255px;
  font-family: var(--mont-ff);
  background: #F1F5F8;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.filter-sidebar__title {
  background: #56326E;
  color: #fff;
  padding: 15px 0;
}

.filter-sidebar__inner {
  padding: 17px 29px;
}

.filter-sidebar__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.filter-sidebar__item:last-child {
  border-bottom: none;
}

.filter-sidebar__item-title {
  color: #000;
  margin-bottom: 13px;
}

.checkbox-grid__item {
  display: flex;
  column-gap: 12px;
  margin-bottom: 20px;
}

.checkbox-label {
  cursor: pointer;
}




@media only screen and (max-width: 1520px) {
  /**
  * fonts
  */
  .fw-700-48-72 {
    font-size: var(--fs-36);
    line-height: var(--lh-62);
  }

  .fw-700-36-50 {
    font-size: var(--fs-32);
    line-height: var(--lh-45);
  }

  .fw-700-26-35 {
    font-size: var(--fs-22);
    line-height: var(--lh-30);
  }

  .fw-600-22-27 {
    font-size: var(--fs-18);
    line-height: var(--lh-20);
  }

  .fw-400-24-36 {
    font-size: var(--fs-20);
    line-height: var(--lh-32);
  }

  .fw-400-18-30 {
    font-size: var(--fs-14);
    line-height: var(--lh-22);
  }

  .fw-400-15-25 {
    font-size: var(--fs-13);
    line-height: var(--lh-20);
  }

  /**
  * MAIN
  */
  .promotion-btn-group-wrapper .btn-primary {
    padding: 15px 35px;
  }
  
  .promotion-btn-group-wrapper .btn-secondary {
    padding: 15px 30px;
  }
  
  .container-outer {
    width: 992px;
  }

  .container-lower {
    width: 840px;
    margin: 0 auto;
  }

  /* .promotion-main-wrapper {
    display: flex;
    flex-direction: column-reverse; */
  .promotion-main__right img {
    width: 513px;
    height: 403px;
  }

  .promotion-wrapper {
    overflow: hidden;
    margin-bottom: 60px;
  }

  .go-top-wrapper {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    bottom: 80px;
    right: 0;
  }

  .go-top-arrow-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .catalogue-grid__item {
    width: 224px;
    height: 134px;
  }

  .catalogue-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 18px;
  }

  .catalogue-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: right;
  }


}

@media only screen and (max-width: 1024px) {
    /**
  * fonts
  */
  .fw-700-48-72 {
    font-size: var(--fs-28);
    line-height: var(--lh-48);
  }

  .fw-700-36-50 {
    font-size: var(--fs-26);
    line-height: var(--lh-36);
  }

  .fw-700-26-35 {
    font-size: var(--fs-18);
    line-height: var(--lh-28);
  }

  .fw-400-24-36 {
    font-size: var(--fs-18);
    line-height: var(--lh-26);
  }

  .fw-400-18-30 {
    font-size: var(--fs-12);
    line-height: var(--lh-18);
  }

  .fw-400-15-25 {
    font-size: var(--fs-12);
    line-height: var(--lh-20);
  }

  .promotion-main__right img {
    width: 373px;
    height: 313px;
  }

  .container-outer {
    width: 860px;
    margin: 0 auto;
  }

  .footer__logo-wrapper {
    margin-right: 65px;
  }

  .footer-navbar__item {
    margin-right: 40px;
  }

  .catalogue-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 18px;
  }
}

@media only screen and (max-width: 992px) {
  .container-lower {
    width: auto;
    margin: 0 40px;
  }

  .navbar {
    display: none;
  }

  .auth-wrapper {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: var(--aqua);
    font-family: var(--mont-ff);
    font-weight: var(--fw-300);
    color: var(--white-f8);
    top: 0;
    left: 0;
  }

  .header-top {
    height: 35px;
    display: block;
    position: relative;
  }

  .mobile-menu {
    position: absolute;
    right: 0;
    top: calc(50% - 14px);
    display: flex;
    flex-direction: column;
  }

  .header-bottom__inner {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
  }

  .contact-info-wrapper {
    display: none;
  }

  .header-media-icons-wrapper {
    display: none;
  }

  .header-contact-group {
    display: flex;
    margin-right: 0;
  }

  .search-wrapper {
    margin-right: 0;
  }

  .promotion-main-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-outer {
    width: auto;
    margin: 0 40px;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__outer {
    padding-top: 68px;
  }

  .footer__logo-wrapper {
    margin-bottom: 40px;
  }

  .footer__navbar {
    justify-content: space-between;
  }

  .catalogue-sidebar {
    width: 100%;
    margin-right: 0;
    position: relative;
    margin-bottom: 40px;
  }

  .catalogue-grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 18px;
  }

}

@media only screen and (max-width: 768px) {
  .header-bottom__inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .fw-600-18-22 {
    font-size: var(--fs-16);
    line-height: var(--lh-20);
  }

  .fw-400-18-22 {
    font-size: var(--fs-16);
    line-height: var(--lh-20);
  }

  .catalogue-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media only screen and (max-width: 657px) {
  footer {
    height: 760px;
  }
}


@media only screen and (max-width: 600px) {
  .hero {
    display: none;
  }

  .promotion-goods__title {
    margin-bottom: 10px;
  }

  .promotion-goods__desc {
    width: 326px;
    margin-bottom: 22px;
  }

  .promotion-prices-wrapper {
    margin-bottom: 18px;
  }

  .promotion-main__right img {
    width: 100%;
    height: auto;
  }

  .arrow-left {
    left: 25%;
  }
  
  .arrow-right {
    left: 320px;
  }

  .promotion-goods-slick.slick-slider .slick-dots {
    position: absolute;
    bottom: -85px;
    left: 206px;
  }

  .promotion-goods-slick.slick-slider .slick-track {
    width: 100%;
  }

  .footer-navbar__item {
    flex: 0 0 30%;
  }

  .catalogue-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalogue-grid__item {
    width: 100%;
    height: auto;
  }

  .catalogue-section__catalogue-filter-row {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 12px;
  }

  .total-found-label {
    display: flex;
    justify-content: left;
  }


}

@media only screen and (max-width: 420px) {
  .footer-navbar__item {
    flex: 0 0 100%;
  }

  footer {
    height: 950px;
  }
}

@media only screen and (max-width: 360px) {
  .fw-700-45-55 {
    font-size: var(--fs-38);
    line-height: var(--lh-48);
  }

  .fw-600-14-17 {
    font-size: var(--fs-12);
    line-height: var(--lh-15);
  }

  .catalogue-categories-title-section {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 340px) {
  .promotion-goods__desc {
    width: 290px;
    margin-bottom: 22px;
  }
}